<template name="header">
    <header>
        <h1 class="center-align">My Todo List</h1>
    </header>
</template>

<template name="form">
    <form class="add-new-task">
        <div class="input-field">
            <input type="text" placeholder="Add A New Task" />
        </div>
        <div class="center-button">
            <button class="waves-effect waves-light btn remove">Submit</button>
        </div>
    </form>
</template>

<template name="todosIf">
	<ul class="collection">
		{{#each todoList}}
			<li class="collection-item {{#if this.complete}}completed{{/if}}">
				{{this.name}}
                {{this.createdAt}}
				<div class="secondary-content">
                {{> completeCheck this}}
					<a class="delete-task" id="button"><i class="material-icons">delete</i></a>
				</div>	
		</li>
		{{/each}}
	</ul>
</template>

<template name="todosElse">
	<ul class="collection">
		<li class="collection-item text-center">No new tasks. Would you like to create one?</li>
	</ul>
</template>

<template name="todos">
	{{#if todoList "Collections.todo.find({}).count()" != 0}}
	{{> todosIf}}
	{{else}}
	{{> todosElse}}
	{{/if}}
</template>


<template name="completeCheck">
    {{#unless this.complete}}
        <a class="complete-task"><i class="material-icons">done</i></a> {{else}}
        <a class="incomplete-task"><i class="material-icons">not_interested</i></a>
    {{/unless}}
</template>
