<head>
    <title>Todo</title>
    <link href='https://fonts.googleapis.com/css?family=Handlee|Noto+Serif' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
</head>

<body>
    <div class="container">
        {{> header}} 
        {{> todos}} 
        {{> form}}
    </div>
    <img src="cat.gif">
</body>