body {
  background-color: #bdbdfc;
}

header {
  color: whitesmoke;
  font-family: 'Handlee', cursive; 
}

.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
  color: #00bc89;
}

.incomplete-task {
  color: #f21d6f;
}

.delete-task {
  color: #a227d8;
}

i {
 cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
  color: whitesmoke;
  font-family: 'Noto Serif', serif;
  margin: 0 auto;
  width: 75%;
}

.animated fadeIn {
  -vendor-animation-delay: 4s;
  -vendor-animation-duration: 10s;
  -vendor-animation-iteration-count: infinite;
}